.header{
    position: relative;
    min-height: 100vh;
    
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }
    .menu{
        &__list{
            display: flex;
            align-items: center;
            gap: 0 40px;
            font-weight: 700;
        }

        &__btn{
            padding: 15px 58px;
            border-radius:30px;
            background-color: black;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
    }

    &__content-images{
        text-align: center;
        padding-bottom: 50px;
    }

    

    &__content-images::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
       
        z-index: -2;
    }

    &__content-images:has(.color--blue.content-item__active):before{
        background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
    }
    &__content-images:has(.color--rose.content-item__active):before{
        background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);

    }
    &__content-images:has(.color--green.content-item__active):before{
        background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);
    }
    &__content-images:has(.color--white.content-item__active):before{
        background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);
    }
    &__content-images:has(.color--black.content-item__active):before{
        background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
    }

    .title{
        font-size: 210px;
        font-weight: 700;
        position: absolute;
        padding-top:110px ;
    }

    .title--pod{
        position: relative;
        z-index: -1;
    }

    .title--s{
        display: inline-block;
        transform: translateY(40px);
    }

    .title--m{
        display: inline-block;
        transform: translate(-43px, 300px);


    }

    .title--ax{
        position: relative;
        display: inline-block;
        transform: translate(-125px, 440px);
        z-index: -1;

    }

    @media (max-width:1448px){
        &__content-images img{
            max-width: 100%;
        }

        .title{
            font-size: 180px;
            transform: translate(128px, 10px);

        }
    }

    @media (max-width:1230px){
        .title{
            transform: none;
            font-size: 140px;
            padding-top: 30vh;
            left: 0;
            right: 0;
            text-align: center;
        }

        .title--pod{
            
        }

        .title--s{
            transform: none;
        }

        .title--m{
            transform: none;
            
        }

        .title--ax{
            transform: none;
        }
    }

    @media (max-width:889px){
        .title{
            position: relative;
            font-size: 100px;
            padding-top: 0;
        }
        .title--m{
            padding-left:15px;
        }
    }

    @media (max-width:768px){
        .title{
            font-size: 58px;
            
        }
    }

    @media (max-width:560px){
        .menu__list{
            flex-wrap: wrap;
            gap: 20px 40px;
        }
        .menu__item-btn{
            margin-left: auto;
        }

        .menu__item-btn button{
            width: 250px;
        }

        .menu__item:first-child{
            margin-left: auto;
        }
        &__top{
            align-items: flex-start;
        }
    }

    @media (max-width:404px){
        .title{
            font-size: 50px;
        }
    }
}

.content-item{
    display: none;
}

.content-item.content-item__active{
    display: inline-block;
}